body {
  font-family: roboto, sans-serif;
  background-color: var(--main-background-color);
}

:root {
  --main-background-color: #ffffff;
  --second-background-color: #2f303a;
  --light-background-color: #f5f4fa;
  --main-title-color: #212121;
  --main-text-color: #757575;
  --origin-black: #000000;
  --accent-color: #2196f3;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  /* outline: 2px solid red; */
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
  /* outline: 2px solid green; */
}

.duty-reset {
  padding-top: 0px;
}

.current {
  color: var(--accent-color);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.header {
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-navigation {
  display: flex;
  align-items: center;
}
.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--origin-black);
  margin-right: 93px;
}
.header-logo-word {
  color: var(--accent-color);
}

.header-list {
  display: flex;
  gap: 50px;
}

.header-item {
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-contact-list {
  display: flex;
  gap: 50px;
}
.header-contact-item {
}

.header-contact-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  gap: 10px;
  align-items: center;
}

.header-contact-icon {
  fill: currentColor;
}

.header-link:hover,
.header-link:focus,
.header-contact-link:hover,
.header-contact-link:focus,
.footer-address-link:hover,
.footer-address-link:focus,
.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
}

.current {
  color: var(--accent-color);
}

.hero {
  background-color: #c4c4c4;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-background-color);
  margin-bottom: 30px;
  max-width: 696px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.hero-btn {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  letter-spacing: 0.06em;
  color: var(--main-background-color);
  background: var(--accent-color);
  cursor: pointer;
  padding: 10px 32px;
  min-width: 216px;
  border-radius: 4px;
  border: 0;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--accent-color);
}

.about-title {
}

.about-list {
  display: flex;
  gap: 30px;
}

.about-item {
  flex-basis: calc((100% - 90px) / 4);
}

.about-subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-title-color);
  margin-bottom: 10px;
  /* flex-basis: calc((100% -90px) / 4); */
}
.about-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  /* flex-basis: calc((100% -90px) / 4); */
}

.duty {
}
.duty-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
  margin-bottom: 50px;
}
.duty-list {
  display: flex;
  gap: 30px;
}
.duty-item {
}

.team {
  background: var(--light-background-color);
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
  margin-bottom: 50px;
}
.team-list {
  display: flex;
  gap: 30px;
}

.team-wrap {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-item {
  background: var(--main-background-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.team-subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
  margin-bottom: 10px;
}
.team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  margin-bottom: 16px;
}

.teammate-soc-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.teammate-soc-item {
  width: 44px;
  height: 44px;
}

.teammate-soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #AFB1B8;
}

.teammate-soc-icon {
fill: currentColor;
}

.teammate-soc-link:hover, 
.teammate-soc-link:focus {
  background-color: #2196F3;
  color: #ffffff;
} 

.client-section {
}
.client-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}
.client-list {
  display: flex;
  gap: 30px;
}
.client-item {
  width: calc((100% - 150px) / 6);
  height: 92px;
}
.client-link {
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #AFB1B8;
}

.client-link:hover, 
.client-link:focus {
  border-color: #2196F3;
  fill: #2196F3;
}

.footer {
  background: var(--second-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  align-items: baseline;
  gap: 70px;
}

/* .footer div {
  max-width: 231px;
} */

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-background-color);
}

.footer-logo-word {
  color: var(--accent-color);
}

.footer-address {
  margin-top: 20px;
}

.footer-list {
  font-style: normal;
}

.footer-item:not(:last-child) {
  margin-bottom: 9px;
}
.footer-address-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-background-color);
}
.footer-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}


.footer-title {
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #FFFFFF;
margin-bottom: 20px;
}

.footer-soc-list {
  display: flex;
  gap: 10px;
}
.footer-soc-item {
   width: 44px;
  height: 44px;
}
.footer-soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
}
.footer-soc-icon {
  fill: currentColor;
}

.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: #2196F3;
}

.portfolio {
}

.portfolio-title {
}
.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  gap: 8px;
}

.filter-item {
}
.filter-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
  background: var(--light-background-color);
  cursor: pointer;
  border-color: transparent;
  padding: 6px 22px;
  min-width: 73px;
  border-radius: 4px;
}

.filter-btn:hover,
.filter-btn:focus {
  color: var(--main-background-color);
  background-color: var(--accent-color);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 30px;
  column-gap: 30px;
}

.portfolio-item {
  flex-basis: calc((100% - 60px) / 3);
}

.portfolio-item:hover,
.portfolio-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-wrap {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.portfolio-subtitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-title-color);
  margin-bottom: 4px;
}
.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
